SoapClient/src/wsdl/localhost_8080/JavaEEWebServices/SOAPWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SOAPWebServiceService" targetNamespace="http://javaeewebservices.webservices.openrap.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://javaeewebservices.webservices.openrap.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://javaeewebservices.webservices.openrap.org/" version="1.0" xmlns:tns="http://javaeewebservices.webservices.openrap.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="customer" type="tns:customer"/>
<xs:element name="getAllCustomers" type="tns:getAllCustomers"/>
<xs:element name="getAllCustomersResponse" type="tns:getAllCustomersResponse"/>
<xs:element name="ping" type="tns:ping"/>
<xs:element name="pingResponse" type="tns:pingResponse"/>
<xs:complexType name="getAllCustomers">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllCustomersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:customer"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ping">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="pingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="pingResponse">
    <wsdl:part element="tns:pingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ping">
    <wsdl:part element="tns:ping" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCustomers">
    <wsdl:part element="tns:getAllCustomers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCustomersResponse">
    <wsdl:part element="tns:getAllCustomersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SOAPWebService">
    <wsdl:operation name="getAllCustomers">
      <wsdl:input message="tns:getAllCustomers" name="getAllCustomers">
    </wsdl:input>
      <wsdl:output message="tns:getAllCustomersResponse" name="getAllCustomersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input message="tns:ping" name="ping">
    </wsdl:input>
      <wsdl:output message="tns:pingResponse" name="pingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPWebServiceServiceSoapBinding" type="tns:SOAPWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllCustomers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllCustomers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCustomersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ping">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPWebServiceService">
    <wsdl:port binding="tns:SOAPWebServiceServiceSoapBinding" name="SOAPWebServicePort">
      <soap:address location="http://localhost:8080/JavaEEWebServices/SOAPWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>